<%= form_with model: kitten do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% kitten.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.text_field :age %><br>
    <% kitten.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cuteness %><br>
    <%= form.select :cuteness, (1..10) %>
  </div>

  <div>
    <%= form.label :softness %><br>
    <%= form.select :softness, (1..10) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
